name: CI

on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: Checkout sources
      uses: actions/checkout@v6

    - name: Validate Gradle Wrapper
      uses: gradle/actions/wrapper-validation@v5
    
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 25
    
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
    
    - name: Build with Gradle Wrapper
      run: ./gradlew build

  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout sources
      uses: actions/checkout@v6
      
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 25

    - name: Generate and submit dependency graph
      uses: gradle/actions/dependency-submission@v5
